body {
  background-image: url(../public/images/logo.svg);
  background-position: 165% 5%;
  background-repeat: no-repeat;
  background-size: 75%;
  background-attachment: fixed;
}

@include media-breakpoint-up(sm) {
  body {
    background-image: url(../public/images/logo.svg);
    background-position: 135% 15%;
    background-repeat: no-repeat;
    background-size: 55%;
    background-attachment: fixed;
  }
}
