// Color system

$primary: #2f3a85;
$info:    #0f80aa;

// Fonts

$font-family-sans-serif: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$web-font-path: 'data:text/css;base64,';
