// Color system

$primary: #1d4e89;
$info:    #00b2ca;

// Fonts

$font-family-sans-serif: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$web-font-path: 'data:text/css;base64,';
